header{
  float: left;
  width: 100%;
    text-align: left;
    border-bottom: solid 10px $bobGrey;

  h1{
    margin-top: 10px;
    font-size: 30px;

@media (--mobile-viewport) {
      font-size: 72px;
}
  }

  h2{
    margin-top: 0;
    font-size: 27px;
  }

    .fa{
      font-size: 30px;
    }
}

.header-title{
  lost-column: 1/2;
}

.header-contacts{
  lost-column: 1/2;
  margin-top: 35px;
  height: 100%;

  a{
    lost-row: 1/3;
    margin-bottom: 10px;
  }
}

.scroll-header{
  opacity: 0;

  h2,p{
    float:left;
  }
}

.fix-header .scroll-header {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index:100;
  width: 100%;
  height: 60px;
  background: #fff;
}
