.container{
  padding: 2% 2% 0;
  text-align: justify;
  font-size: 0.1px;

  -webkit-backface-visibility: hidden;
}

.container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.container .mix,
.container .gap{
  display: inline-block;
  width: 49%;
}

.container .mix{
  text-align: left;
  background: #03899c;
  margin-bottom: 2%;
  display: none;
}

.container .mix:before{
  content: '';
  display: inline-block;
  padding-top: 60%;
}